# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/

# Local pip install artifacts
*.egg-info/
dist/
build/

#public folder
public

# FAISS / model backups not needed for pipx
src/faiss_index/backups/
src/model/backups/
src/model/t5_small_16/

# Development / data files not needed for pipx
data/
notebooks/
src/evaluate.py
src/model/metrics.py
src/model/train_t5.py
src/model/predict_t5.py
src/utils/
src/faiss_index/build_faiss_index.py
src/faiss_index/download_mpnet.py
src/faiss_index/hybrid_query.py
src/faiss_index/query_faiss.py

# JSONL / dataset files
*.jsonl

# Jupyter notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# Node / JS artifacts
node_modules/
package.json
package-lock.json

# Local environment
.env

# Documentation (optional)
*.md

# Other OS artifacts
.DS_Store
Thumbs.db

# Logs
*.log


# FAISS
src/faiss_index/faiss_index_combined.index
src/faiss_index/faiss_metadata_combined.pkl
src/faiss_index/models/
src/faiss_index/backups/

# T5 Model
src/model/saved_model/
src/model/t5_base_arch/
src/model/t5_base_tokenizer/
src/model/backups/
src/model/t5_small_16/